*{
  text-align: center;
}

.header{
  text-align: center;
}
.about{
  text-align: center;
}
.infographic{
  text-align: center;
}
.search{
  text-align: center;
}

.search-results{
  height:200px;
}

button{
  margin-left: 5px;
}

::-webkit-scrollbar {
    display: none;
}
